#####################################################################
#       INCLUDES
#####################################################################

[include input_shaper.cfg]
[include macros.cfg]
[include automatic_heater_bed.cfg]
[include KAMP_Settings.cfg]
[include ./KAMP/Line_Purge.cfg]

#####################################################################
#       GLOBALS
#####################################################################

[mcu]
# The hardware use USART1 PA10/PA9 connect to RK3328
serial: /dev/ttyS0
restart_method: command

[printer]
kinematics:cartesian
max_velocity: 500
max_accel: 2000 # Was 1000
max_z_velocity: 8 # Was 20
max_z_accel: 120 # Was 200
square_corner_velocity: 5.0
minimum_cruise_ratio: 0.0 # Default is 0.5

[respond]
default_type: echo
[gcode_arcs]
[pause_resume]
[display_status]
[exclude_object]
[skew_correction]
[virtual_sdcard]
path: ~/printer_data/gcodes
[idle_timeout]
timeout: 7200
gcode:
  {action_respond_info("IDLE TIMEOUT: Running idle gcode...")}
  M84
  TURN_OFF_HEATERS
  Part_Light_OFF
  Frame_Light_OFF

#####################################################################
#       STEPPERS
#####################################################################

[stepper_x]
step_pin:PC14
dir_pin:PC13
enable_pin:!PC15
microsteps: 16
rotation_distance: 39.92 # Was 40
full_steps_per_rotation:200
endstop_pin:PC0
position_min: -10  
position_endstop:-10
position_max: 240
homing_speed:70
homing_retract_dist:5
homing_positive_dir:false
step_pulse_duration:0.000002

[stepper_y]
step_pin:PB4
dir_pin:PB3
enable_pin:!PB5
microsteps:16
rotation_distance: 39.87 # Was 40
full_steps_per_rotation:200
endstop_pin:PB8
position_min: -1
position_endstop:-1
position_max:230
homing_speed:70
homing_retract_dist:5
homing_positive_dir:false
step_pulse_duration:0.000002

[stepper_z]
step_pin:PC10
dir_pin:!PA15
enable_pin: !PC11
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200
endstop_pin:probe:z_virtual_endstop
homing_retract_dist: 0 # beacon needs this to be set to 0
position_max: 270
position_min: -5 
homing_speed: 10
#second_homing_speed: 3

[stepper_z1]
step_pin:PB1
dir_pin:PB2
enable_pin: !PB0
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200
endstop_pin:probe:z_virtual_endstop

#####################################################################
#       TMC UART CONFIG
#####################################################################

[tmc2209 stepper_x]
uart_pin: PB9
run_current: 1.0
interpolate: True
stealthchop_threshold:99999

[tmc2209 stepper_y]
uart_pin: PD2
run_current: 1.0
interpolate: True
stealthchop_threshold:99999

[tmc2209 stepper_z]
uart_pin: PC5
run_current: 0.8
interpolate: True
stealthchop_threshold: 120

[tmc2209 stepper_z1]
uart_pin: PB6
run_current: 0.8
interpolate: True
stealthchop_threshold: 120

[tmc2209 extruder]
uart_pin: PC4
run_current: 0.9
interpolate: True
stealthchop_threshold: 400

#####################################################################
#       EXTRUDER
#####################################################################

[extruder]
step_pin:PA5
dir_pin:!PA6
enable_pin:!PA4
microsteps: 32 # Was 16
rotation_distance: 28.517 # Was 29.098634	#Bondtech 5mm Drive Gears
gear_ratio: 52:10
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
min_temp: 0
max_temp: 330
heater_pin: PA7
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin: PA1
max_power: 1
pressure_advance: 0.03 # Was 0.03
pressure_advance_smooth_time: 0.05
max_extrude_cross_section: 25
instantaneous_corner_velocity: 10.000
max_extrude_only_distance: 150
max_extrude_only_velocity: 5000
max_extrude_only_accel: 2000
step_pulse_duration: 0.000002

[verify_heater extruder]
max_error: 120
check_gain_time:120
hysteresis: 10
heating_gain: 2

#####################################################################
#       HEATER BED
#####################################################################

[heater_bed]
heater_pin: PB10
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA0
max_power: 1.0
min_temp: 0
max_temp: 200
pwm_cycle_time: 0.0167 # Supposed to fix issues with LEDs and Camera

[verify_heater heater_bed]
max_error: 120
check_gain_time:120
hysteresis: 10
heating_gain: 1

[heater_generic heater_bed_outer]
# gcode_id:M105
heater_pin: PC8
max_power: 1.0
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC2
min_temp: 0
max_temp: 200
pwm_cycle_time: 0.0167 # Supposed to fix issues with LEDs and Camera

[verify_heater heater_bed_outer]
max_error: 600
check_gain_time:120
hysteresis: 10
heating_gain: 1

#####################################################################
#       FAN & TEMP MONITORING
#####################################################################

[fan]
pin: PC9
kick_start_time: 0.5
off_below: 0.10

[heater_fan Heatbreak_Fan]
pin: PA8
heater: extruder
fan_speed: 0.4
kick_start_time: 0.5

[temperature_sensor Rockchip_Host]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor STM32_MCU]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 85

#####################################################################
#       HOMING & GANTRY ADJUSTMENT ROUTINES
#####################################################################

# [safe_z_home]
# home_xy_position: 115,95.5 # Beacon 
# # home_xy_position: 141,98 # Elegoo Probe
# speed: 100
# z_hop: 10
# z_hop_speed: 35

[z_tilt]
z_positions:
    -30.66, 0
    266.34, 0
points:
    # Beacon Probe
    30, 177 # Orz is 30, 180
    199, 177 # Orz is 199, 180

    # Nozzle
    # 30, 199
    # 199, 199

    # Elegoo Probe
    # 56.75, 182.05 # Was 40,115
    # 226.75, 182.05 # Was 235,115
speed: 300
horizontal_move_z: 8
retries: 10
retry_tolerance: 0.00250

[axis_twist_compensation]
calibrate_start_x: 30
calibrate_end_x: 210
calibrate_y: 115

[screws_tilt_adjust]
# Beacon Probe
screw1: 30, 177 # Orz is 30, 180
screw1_name: rear left screw
screw2: 30, 8 # Orz is 30, 11
screw2_name: front left screw
screw3: 199, 8 # Orz is 199, 11
screw3_name: front right screw
screw4: 199, 177 # Orz is 199, 180
screw4_name: rear right screw

# Nozzle
# screw1: 30, 199
# screw1_name: rear left screw
# screw2: 33, 30
# screw2_name: front left screw
# screw3: 199, 30
# screw3_name: front right screw
# screw4: 199, 199
# screw4_name: rear right screw

# Elegoo Probe
# screw1: 56.75, 12.05 # Elegoo Probe
# screw1_name: front left screw
# screw2: 226.75, 12.05 # Was Elegoo Probe
# screw2_name: front right screw
# screw3: 226.75, 182.05 # Was Elegoo Probe
# screw3_name: rear right screw
# screw4: 56.75, 182.05 # Was Elegoo Probe
# screw4_name: rear left screw

horizontal_move_z: 8
speed: 150.0
screw_thread: CW-M4

#####################################################################
#       PROBE
#####################################################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_367E87785154364134202020FF150427-if00

# contact_max_hotend_temperature: 220

home_xy_position: 115, 95
home_z_hop: 5
home_z_hop_speed: 30
home_method: proximity
home_method_when_homed: proximity
home_autocalibrate: never
autocal_sample_count: 4

x_offset: 0
y_offset: 22 # Orz is 19
mesh_main_direction: x
mesh_runs: 2

# [probe]
# pin:^PA11
# x_offset: -24.25
# y_offset: 20.45
# #z_offset: 0.650
# speed: 10.0
# lift_speed: 35
# samples: 4
# samples_result: median
# sample_retract_dist: 3.0
# samples_tolerance: 0.01
# samples_tolerance_retries: 4

#####################################################################
#       BED MESH
#####################################################################

[bed_mesh]
speed: 500 # Was 300
horizontal_move_z: 8
mesh_min: 10,21 # Was 10,15 before linear rails
mesh_max: 220,217 # Was 220,214 before linear rails
# mesh_min: 10,18 # Was 10,15 before linear rails # Orz
# mesh_max: 220,214 # Was 220,214 before linear rails # Orz
# mesh_min: 5.75,17.45 # Elegoo Probe
# mesh_max: 215.75,222.45 # Elegoo Probe
probe_count: 11,11
algorithm:bicubic
bicubic_tension: 0.2
mesh_pps: 4, 4
fade_start: 1.0 # Was 0.6
fade_end: 10.0
# zero_reference_position: 30, 30
adaptive_margin: 3

#####################################################################
#       LED CONTROL
#####################################################################

[output_pin Frame_Light]
pin: PB7

[output_pin Part_Light]
pin: PC7

[gcode_macro Part_Light_ON]
description: Turn on Extruder LEDs
gcode:
  SET_PIN PIN=Part_Light VALUE=1

[gcode_macro Part_Light_OFF]
description: Turn off Extruder LEDs
gcode:
  SET_PIN PIN=Part_Light VALUE=0

[gcode_macro Frame_Light_ON]
description: Turn on top bar LEDs
gcode:
  SET_PIN PIN=Frame_Light VALUE=1

[gcode_macro Frame_Light_OFF]
description: Turn off top bar LEDs
gcode:
  SET_PIN PIN=Frame_Light VALUE=0

#####################################################################
#       BEEPER
#####################################################################

[pwm_cycle_time beeper]
pin: PA2
value: 0
shutdown_value: 0
cycle_time: 0.001 # Default PWM frequency: 1 kHz

[gcode_macro M300]
gcode:
    {% set S = params.S|default(2000)|int %}        # Set frequency (S), default to 2 kHz if omitted or invalid
    {% set P = params.P|default(100)|int %}         # Set duration (P), default to 100ms if omitted or invalid
    SET_PIN PIN=beeper VALUE=0.8 CYCLE_TIME={ 1.0/S if S > 0 else 1 }       # Activate the beeper at a 80% duty cycle
    G4 P{P}                                         # Hold the beep for the specified duration
    SET_PIN PIN=beeper VALUE=0                      # Turn off the beeper

[gcode_macro START_TUNE]
gcode:
    M300 S392 P300 
    M300 S494 P300

[gcode_macro PAUSE_TUNE]
gcode:
    M300 S587 P100
    M300 S587 P100
    M300 S587 P600
    
[gcode_macro END_TUNE]
gcode: 
    M300 S587 P300 
    M300 S523 P300 

#####################################################################
#       FILAMENT SENSORS
#####################################################################

[filament_switch_sensor filament_sensor]
switch_pin: PC1
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
runout_gcode:
    {action_respond_info("FILAMENT RUNOUT TRIGGERED")}
    M117 Filament switch triggered
    {action_call_remote_method("notify",
                               name="pushover_notifier_emergency",
                               message="Filament Runout Event")}

[filament_motion_sensor filament_motion]
switch_pin: PA12
detection_length: 10 # Supports down to 2.88
extruder: extruder
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
runout_gcode:
    {action_respond_info("FILAMENT MOTION TRIGGERED")}
    M117 Filament motion triggered
    {action_call_remote_method("notify",
                               name="pushover_notifier_emergency",
                               message="Filament Motion Event")}

#####################################################################
#       FIRMWARE RETRACTION CONFIG
#####################################################################

[firmware_retraction]
retract_length: 0.4
retract_speed: 35
unretract_extra_length: 0
unretract_speed: 30

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.483
#*# pid_ki = 1.219
#*# pid_kd = 86.027
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.773
#*# pid_ki = 1.839
#*# pid_kd = 605.966
#*#
#*# [heater_generic heater_bed_outer]
#*# control = pid
#*# pid_kp = 69.066
#*# pid_ki = 0.597
#*# pid_kd = 1996.871
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = -0.0004998783492140608
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [beacon model default]
#*# model_coef = 1.709625790171331,
#*# 	2.009303768050866,
#*# 	0.6689015937251241,
#*# 	0.25947003239026245,
#*# 	0.1993325510852684,
#*# 	0.18599664324472012,
#*# 	-0.04115162409649038,
#*# 	-0.12354514354539209,
#*# 	0.06473948953795162,
#*# 	0.07162006170653532
#*# model_domain = 1.9075591047620124e-07,1.941493892158147e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 46.720800
#*# model_offset = 0.00000
#*#
#*# [beacon model textured]
#*# model_coef = 1.709625790171331,
#*# 	  2.009303768050866,
#*# 	  0.6689015937251241,
#*# 	  0.25947003239026245,
#*# 	  0.1993325510852684,
#*# 	  0.18599664324472012,
#*# 	  -0.04115162409649038,
#*# 	  -0.12354514354539209,
#*# 	  0.06473948953795162,
#*# 	  0.07162006170653532
#*# model_domain = 1.9075591047620124e-07,1.941493892158147e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 46.720800
#*# model_offset = 0.01000
#*#
#*# [beacon model smooth]
#*# model_coef = 1.7057647847546158,
#*# 	2.0270399596973054,
#*# 	0.6827781125540572,
#*# 	0.17056536240307202,
#*# 	0.1697378751935375,
#*# 	0.382772149691109,
#*# 	-0.025916576173539478,
#*# 	-0.3337711226192997,
#*# 	0.06824194977806239,
#*# 	0.15579521825596768
#*# model_domain = 1.9050202650375086e-07,1.9412207273653593e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 47.436277
#*# model_offset = -0.01000
#*#
#*# [axis_twist_compensation]
#*# z_compensations = -0.049465, -0.025485, 0.034791, 0.040160
#*# compensation_start_x = 30.0
#*# compensation_end_x = 210.0
